.field {
    &--flex {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__label {
        font-size: 16px;
        font-weight: 400;
        color: var(--color-dark);
    }

    &__input {
        width: 360px;
        height: 64px;
        background: rgba($color: #000000, $alpha: 0.05);
        border: none;
        border-radius: var(--border-radius);

        &::placeholder {
            padding-left: 40px;
            font-size: 16px;
            font-weight: 400;
            color: var(--color-gray);
        }
    }

    &--column {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        margin-bottom: 25px;
    }

    &__checkbox {
        margin-bottom: 32px;

        &-title {
            font-size: 16px;
            font-weight: 400;
            color: var(--color-dark);
        }
    }

    &__button {
        width: 360px;
        height: 64px;
        margin-bottom: 16px;
        border: var(--border-dark);
        background-color: var(--color-dark);
        color: var(--color-light);
        font-size: 16px;
        font-weight: 700;

        @include hover {
            opacity: 0.6;
        }
    }

    &__sing-in {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
    }

    &__link {
        color: var(--color-orange);
    }
}